.login {
    display: flex;
    flex-direction: column;
}

mat-card {
    width: 75%;
}

.loginCard {
    justify-content: center;
    align-items: center;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
  margin: 0 33% 0 33%;
}
