.nav {
    background-color: #3E4551;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
.docs-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 16px;
}

.nav-btn {
    color: white;
    font-weight: 500;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.flex-spacer {
    flex-grow: 1;
}