<div class="signUpPage">
  <mat-card class="signupCard">
    <form class="signup" #signupForm="ngForm" (submit)="onSignup(signupForm)">
      <mat-form-field>
          <input
          matInput
          required
          placeholder="Username"
          #username="ngModel"
          ngModel
          name="username">
          <mat-error *ngIf="username.invalid">Please enter username</mat-error>
      </mat-form-field>

      <mat-form-field>
          <input
          matInput
          placeholder="Enter your email"
          required
          email
          #email="ngModel"
          ngModel
          name="email">
          <mat-error *ngIf="email.invalid">Please enter valid email address</mat-error>
      </mat-form-field>

      <div class="signup" ngModelGroup="passwords" #passwords="ngModelGroup" appCheckPassword>
        <mat-form-field>
            <input
            matInput
            placeholder="Enter your password"
            [type]="hide ? 'password' : 'text'"
            #pw1="ngModel"
            ngModel
            required
            name="pw1">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <input matInput
            placeholder="Re-enter your password"
            [type]="hide ? 'password' : 'text'"
            #pw2="ngModel"
            ngModel
            required
            name="pw2">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <mat-error *ngIf="passwords.errors && (pw2.dirty || pw2.touched)">
          Passwords do not match.
        </mat-error>
      </div>

      <button
      mat-raised-button
      [disabled]="!signupForm.valid && !passwords.valid"
      type="submit">Sign Up</button>
    </form>
  </mat-card>
</div>
